/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */



/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-text:#111;
	--color-background:#eee;
	--menu-gradient:white;
}

h1{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: 2em;
}

h2, h3, p, a{
	font-family: Arial, Helvetica, sans-serif;
}

ul{
	list-style: none;
}

header {
	min-height:4em;
	padding:0 1em;
	line-height:1;
	
	/* JOUW CODE HIER - stap 3 */
	Display: flex;
	Flex-wrap: wrap;
	position: sticky;
	z-index: 1;
}
  
  /* alle links in de header */
header a {
	padding:.5em 0;
	color:var(--general-color);
	text-decoration:none;
}

header>ul {
	display: flex;
	flex-direction: row;
}

header ul li{
	margin: 1em;
	font-family: Arial, Helvetica, sans-serif;
}

  /*********************/
/* Hamburgermenu */
/*********************/
header>nav {
	padding:1em;
	
	display:grid;
	align-content:start;
	gap:1em;
	background-color:var(--menu-gradient);

	position: fixed;
	left: 0em;
	right: 0em;  
	top: 0em;
	bottom: 0em;
	translate: 100% 0%;
}

header>nav.toonMenu {
	/* JOUW CODE HIER - stap 4 */
	translate: 0% 0%;
	transition: 0.3s;
	justify-content: start;  
}

header>nav>button {
	text-align: center;
	align-content: center;
}

header>nav>ul {
	padding-left: 0;
}

/***************/
/* MENU BUTTON */
/***************/
header>button {
	/* JOUW CODE HIER - stap 3 */
	align-self: center;
	order: -1;
  }

/***************/
/* TWEEDE TEKSTBLOK */
/***************/

.overzichtpagina article:nth-of-type(2){
	background-color: rgba(242, 186, 65);
	padding: 1em;
	margin-top: 1em;
	display: flex;
	flex-wrap: wrap;
}

.overzichtpagina article:nth-of-type(2) h2{
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

.overzichtpagina article:nth-of-type(2) p{
	text-align: center;
	margin-left: 1em;
	margin-right: 1em;
	margin-top: 2em;
	font-size: 0.8em;
}

.overzichtpagina article:nth-of-type(2)>a{
	text-decoration: none;
	color: white;
	background-color: black;
	padding: 0.8em;
	padding-left: 1em;
	padding-right: 1em;
	margin: auto;
	margin-top: 0.5em;
	border-radius: 2em;
}

.overzichtpagina article:nth-of-type(2)>p>a{
	color: var(--color-text);
}

/***************/
/* SECTION MET KERSTITEMS */
/***************/

.overzichtpagina main>section:nth-of-type(2){
	background-color: #005349;
	padding-top: 0.2em;
	margin-top: 1em;
}

.overzichtpagina main>section>h3{
	color: white;
	margin: 0.5em;
	font-size: 1.5em;
}

.overzichtpagina main>section ul {
	display: flex;
	position: relative;
	flex-direction: row;
	justify-content: start;
	align-self: start;
	overflow: scroll;
	padding: 0em;
	margin-left: 0.5em;
	margin-top: 0.5em;
}

.overzichtpagina main>section ul li{
	margin: 0.2em;
	list-style: none;
	font-family: Arial, Helvetica, sans-serif;
}

.overzichtpagina main>section ul li a {
	text-decoration: none;
	color: black;
	font-size: 0.8em;
}

.overzichtpagina main>section ul li:nth-of-type(1) p {
	position: absolute;
	bottom: 7em;
	left: 3em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}

.overzichtpagina main>section ul li:nth-of-type(2) p {
	position: absolute;
	bottom: 7em;
	right: 0;
	margin-left: 5em;
	color: white;
	font-weight: bold;
	font-size: 1.2em;
}



/***************/
/* EERSTE TEKSTBLOK */
/***************/
.overzichtpagina article:nth-of-type(1) {
	display: flex;
	flex-wrap: wrap;
	position: relative;
}

.overzichtpagina article:nth-of-type(1) img {
	display: flex;
	flex-grow: 1;
	width: 80vw;
}

.overzichtpagina article:nth-of-type(1) h2 {
	position: absolute;
	top: 11vh;
	left: 5vw;
	color: white;
}

.overzichtpagina article:nth-of-type(1) p:nth-of-type(1) {
	position: absolute;
	top: 9vh;
	left: 5vw;
	font-size: 0.6em;
	color: white;
}

.overzichtpagina article:nth-of-type(1) p:nth-of-type(2) {
	position: absolute;
	top: 16vh;
	left: 5vw;
	font-size: 0.7em;
	color: white;
}

.overzichtpagina article:nth-of-type(1) a:first-of-type {
	top: 20vh;
	left: 5vw;
	font-size: 0.6em;
	color: white;
	position: absolute;
}

.overzichtpagina article:nth-of-type(1) a:nth-of-type(2) {
	top: 22vh;
	left: 5vw;
	font-size: 0.6em;
	color: white;
	position: absolute;
}



/***************/
/* FOOTER */
/***************/

footer{
	background-color: #F8F7F2;
}

footer>a{
	display: flex;
	justify-content: center;
}

footer ul{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	padding: 0em;
}

footer li{
	margin: 0.5em;
	
}

footer a {
	text-decoration: none;
	color: var(--color-text);
}

@media (max-width:42em) {
	header>ul li {
	  /* JOUW CODE HIER - stap 6 */
	  display: none;
	}
}
